body {
    color: #888888;
    font-family: Helvetica, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    background-image: url("img/background_small.png");
    background-repeat: no-repeat;
}

td {
    text-align: center;
}